NODE_ENV=development
HOST=127.0.0.1
PORT=3000

DATABASE_PATH=./storage/database.sqlite

WHATSAPP_AUTH_PATH=./storage/whatsapp/auth

REPORTS_PATH=./storage/reports

LOG_LEVEL=info

OTODATA_API_KEY=
OPENAI_API_KEY=
REPORT_RECIPIENT_NUMBER=
